In [1]:
import pandas as pd

In [2]:
# Read in CSV file as df
vine_table_df = pd.read_csv(r"C:\Users\Asus\Desktop\Data\Amazon_Vine_Analysis\Vine_Table_Headers.csv")
vine_table_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [3]:
# Verifying that DataFrame has correct data types
vine_table_df.dtypes

review_id            object
star_rating           int64
helpful_votes         int64
total_votes           int64
vine                 object
verified_purchase    object
dtype: object

In [4]:
# Filter DataFrame to retrieve all rows where total_votes count is => 20
votes_over20_df = vine_table_df[vine_table_df["total_votes"] >= 20]
votes_over20_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

In [5]:
# Filter the new DF and create a new DF to retrieve all rows where the number of helpful_votes divided by total_votes is >= than 50%
fifty_percent_helpful_df = votes_over20_df[votes_over20_df["helpful_votes"] / votes_over20_df["total_votes"] >= .5]
fifty_percent_helpful_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [6]:
# Filter the new DF and create a new DF to retrieve all rows where the review was written as a part of the Vine program
paid_reviews_df = fifty_percent_helpful_df[fifty_percent_helpful_df["vine"] == "Y"]
paid_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N

In [7]:
# Filter the new DF and create a new DF to retrieve all rows where the review was NOT written as a part of the Vine program
unpaid_reviews_df = fifty_percent_helpful_df[fifty_percent_helpful_df["vine"] == "N"]
unpaid_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [8]:
# Total Number of reviews paid reviewers
paid_count = paid_reviews_df["review_id"].size
paid_count

94

In [9]:
# Total Number of reviews unpaid reviewers
unpaid_count = unpaid_reviews_df["review_id"].size
unpaid_count

40471

In [10]:
# Total Number of 5 star reviews - paid reviewers
five_stars_paid = paid_reviews_df[paid_reviews_df["star_rating"] == 5]
five_stars_paid = five_stars_paid["star_rating"].size
five_stars_paid

48

In [11]:
# Total Number of 5 star reviews - unpaid reviewers
five_stars_unpaid = unpaid_reviews_df[unpaid_reviews_df["star_rating"] == 5]
five_stars_unpaid = five_stars_unpaid["star_rating"].size
five_stars_unpaid

15663

In [12]:
# Percentage of 5-star reviews in paid reviewers
percentage_paid = five_stars_paid / paid_count
percentage_paid

0.5106382978723404

In [13]:
# Percentage of 5-star reviews in unpaid reviewers
percentage_unpaid = five_stars_unpaid / unpaid_count
percentage_unpaid

0.38701786464381904